
body{
  /* background-color: #F2D7D9; */
}

.course-container{
  display: flex;
  justify-content:space-between;
  padding: 40px 40px 0px 40px;
}

.student-box,.notes-box,.assigment-box{
  border:1px solid gray;
  width: 32%;
  height: 85vh;
  padding: 20px 40px;
  border-radius: 5%;
}

.put-adjacent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
