body {
  /* background-color: #F2D7D9; */
}

.course-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px 0px 40px;
}

.student-box,
.assigment-box {
  width: 25%;
  height: 88vh;
  padding: 20px 40px;
  border-radius: 2%;
}

.notes-box {
  width: 50%;
  min-height: 88vh;
  padding: 20px 40px;
  border-radius: 2%;
  box-shadow: 0 0 rgb(255, 255, 255), 0 0 .4em rgb(82, 82, 82);
}

.put-adjacent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 20px;
  border-bottom: 2px solid grey;
}

.course-container .btn {
  padding: 0px 0px;
  min-width: 48px;
  border-radius: 50%;
  box-shadow: 0 0 rgb(255, 255, 255), 0 0 .1em rgb(82, 82, 82);
}

.student-list {
  padding: 10px 0;
}

.list-group-item {
  margin: 0.5rem;
  background-color: rgb(242, 241, 246);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 rgb(255, 255, 255), 0 0 .1em rgb(82, 82, 82);
  text-transform: capitalize;
  font-weight: 600;
}

.notes-list {
  grid-template-columns: repeat(2, 1fr);
}

.notes-list,
.assigment-list {
  display: grid;
  width: 100%;
  gap: 40px;

  margin: 2rem 0;
  text-transform: capitalize;
  font-size: 2rem;
}

.notes-list-item {
  padding: 2rem 0.5rem;

  border: 2px solid #98c1d5;
  border-radius: 10px;
  color: #305576;
  width: 100%;
  min-height: 10rem;
  background-color: #cbede6;

}

.notes-list-item:hover {
  border: 2px solid #305576;
  width: 100%;
  cursor: pointer;
  color: #cbede6;
  background-color: #1d3f5d;
}

.assign-list-item {
  padding: 2rem 0.5rem;

  border: 2px solid #f6ccaa;
  border-radius: 10px;
  color: #cd7333;
  width: 100%;
  min-height: 10rem;
  background-color: #f9e1c5;

}

.assign-list-item:hover {
  border: 2px solid #cd7333;
  width: 100%;
  cursor: pointer;
  color: #f9e1c5;
  background-color: #cd7333;
}
